name: tests-tickets

on:
  pull_request:
    - 'tickets/**'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: cd tickets && npm install && npm run test:ci
